
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  html, body {
    height: 100%;
  }
  html {
    font-size: 120%;
    line-height: 1.4;
  }
  body {
    margin: 0;
  }
  
  
  
  a { text-decoration: none; }
  
  main {
    display: none;
    width: 80vw;
    left: 10%;
    height: 40vh;
    overflow: auto;
    background: rgba(black, 0.66);
    color: rgba(245, 245, 245, 0.637);
    position: relative;
    padding: 1rem;
  }

  #wrapper {
    display: block;
    position: fixed;
    text-align: center;
    min-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header p {
    font-size: 2em;
    margin: 0;
    padding-left: 2em;
}

#header ul {
    list-style-type: none;
}

#header ul li {
    display: inline;
    padding: 20px 20px;
    font-size: 100%;
    margin: 0 30px;

}
footer {
    position:relative;
    padding-right: 2%;
    height: 50;
    width: 100%;
    bottom: 0;
    font-size: 70%;;
    color: whitesmoke;
  }
  footer ul {
    list-style-type: none;
    text-align: left;
  }
  footer ul li {
    display: inline;
    margin: 0 15px;
  }

  li {
    display: inline;
    margin-right: 10px;
  }



  h2 {
    font-family: "didot";
    font-size: 100px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .9;
    color: #cec0ae8c;
   }
 
 .rotate {
    transform: rotate(180deg);
 }


 nav {
  padding: 10px;
  border-bottom: 1px solid black;
  padding-right: 2%;
  width: 100%;
  font-size: 90%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
    @media (max-width: 800px) {
        .parent {
          display: flex;
          flex-direction: column;
        }
        .parent>div {
          padding: 0px 20px;
          margin: 10px 0px;
        }
        .parent>div img {
          max-width: 100%;
          max-height: 80vh;
        }
      }

       
@media screen and (min-width: 601px) {
  div {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  div {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  #about {
    
       padding-left: 30px;
       padding-right:30px;
      
    }
    .nav {
      padding-left: 10px;
      padding-right: 10px;}
 }